- feature_support = locals.fetch(:support, false)
- if (feature_support == "partially")
  = partial "includes/icons/comparison/maybe-icon.svg"
- if (feature_support == true)
  = partial "includes/icons/comparison/yes-icon.svg"
- if (feature_support == false)
  = partial "includes/icons/comparison/no-icon.svg"
