---
layout: default
title: Visiting GitLab
suppress_header: true
extra_css:
  - visiting.css
---

.wrapper
  .image-title
    .color-bg
      .header-text
        %h1
          Visiting
          %strong
            GitLab
        %p
          While our team members work remotely most of the time, we have a beautiful boardroom in the heart of San Francisco.
          %br/
          We'd love to have you visit!
      .container
  .sub-wrapper
    .container
      .row.maps
        %div
          %h2 Mailing address
          %p
            If you'd like to send us something please use the address below, this is not our visiting address:
            %br/
            %br/
            GitLab
            %br/
            268 Bush Street #350
            %br/
            San Francisco,CA  94104
            %br/
            United States of America
      %hr.divider/
      .row.access
        .image-container
          = image_tag "/images/skyline-downtown-sf.jpg"
        %div
          %h2 Visit our boardroom
          %p
            If you'd like to visit us, we're happy to  host you at our boardroom.
            Please reach out to one of our EA's that can help you get set up with a meeting and give you the address and directions for our location.
      %hr.divider/
      .row.teamcall
        %div
          %h2 Team Calls
          %p
            Since we all work remotely at GitLab, we use team video calls regularly (with more than 50 people on most days!).
            Mostly only our CEO and
            %a{href: "/company/team-pets"}Suzy
            are in the San Francisco boardroom.
        .image-container
          = image_tag "/images/teamcall.png"
      %hr.divider/
      .row.access
        .image-container
          = image_tag "/images/about-page.png"
        %div
          %h2 Questions from visitors
          %p
            Most visitors have questions about our #{link_to "team size and distribution", "/company/team"}, how people are #{link_to 'spread among departments', "/company/team/org-chart/"}, our #{link_to "strategy", "/company/strategy/"}, and other things for which it helps to have a quick walk through our #{link_to "handbook", "/handbook"} and general pages mentioned on our #{link_to "About page", "/about"}
